.animated-object-wrapper {
    position: relative;
    z-index: 1;
}

.animated-object {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #F9A03F;
    animation: float 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100px, 100px);
    }
    100% {
        transform: translate(0, 0);
    }
}
