.animated-object {
    position: relative;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #f9a03f;
    animation: float 5s ease-in-out infinite;
}

.animated-object .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    text-align: center;
}


@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100px, 100px);
    }
    100% {
        transform: translate(0, 0);
    }
}
