.post-list ul {
    padding: 0;
    margin: 0;
}

.blog-header {
    color: #333;
    transition: color 0.3s ease;
}

.dark-mode .blog-header {
    color: #fff;
}

.post-item {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

.blog-post-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid #28282B;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    color: #333;
}

.blog-post-link:hover {
    border-color: #0275D8FF;
    background-color: #28282B;
    color: #FFFFFF;
    transform: scale(1.05);
}

.dark-mode .blog-post-link {
    color: #fff;
    border: 2px solid #f0a500;
}

.dark-mode .blog-post-link:hover {
    border-color: #f0a500;
    background-color: #343a40;
    color: #f0a500;
    transform: scale(1.05);
}
