.category-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.expanded .category-content {
    max-height: 1000px; /* Adjust this value based on your content height */
    transition: max-height 0.3s ease-in;
}

