/* components/CategorySection.css */
.category-section {
    margin-top: 5px;
}

.btn-category-light {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #28282B;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    color: #28282B;
}

.btn-category-light:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #28282B;
    color: #fff;
}

.btn-category-dark {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #f0a500;
    border-radius: 10px;
    background-color: #28282B;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    color: #f0a500;
}

.btn-category-dark:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffc107;
}

.category-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, background-color 0.3s ease-in-out;
    background-color: #fff; /* Default background color for light mode */
}

.expanded .category-content {
    max-height: 1000px; /* Adjust this value based on your content height */
    transition: max-height 0.3s ease-in, background-color 0.3s ease-in-out;
    background-color: #343a40; /* Background color for expanded section in dark mode */
}

.dark-mode .category-content {
    background-color: #343a40; /* Background color for category content in dark mode */
    color: #fff; /* Text color in dark mode */
}

.post-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer;
}

.post-link:hover {
    color: #007bff; /* Change the color on hover as desired */
}

.post-link-dark {
    color: #ffffff;
}

.post-link-light {
    color: #000000;
}

