/* Add these styles to your existing dark and light mode styles */
.btn-create-post-light {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #28282B;
    border-radius: 10px;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    color: #28282B;
}

.btn-create-post-dark {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 2px solid #f0a500;
    border-radius: 10px;
    background-color: #28282B;
    transition: all 0.3s ease;
    margin-bottom: 2rem;
    color: #f0a500;
}

.btn-create-post-light:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #28282B;
    color: #fff;
}

.btn-create-post-dark:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffc107;
}
