.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 400px;
    height: 400px; /* add this line */
    display: flex; /* add this line */
    flex-direction: column; /* add this line */
    justify-content: center; /* add this line */
    align-items: center; /* add this line */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0069d9;
}

.form-text {
    font-weight: bold;
    font-size: 18px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px; /* add this line */
}

.custom-button {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #0069d9;
    transform: scale(1.1);
}
