.form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    position: relative;
}

.form h2 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f0a500;
    color: #fff;
    border: 1px solid #f0a500;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border: 1px solid #f0a51d;
}

.form-group button {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0a500;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #f0a51d;
}

.form-text {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    background-color: #fff;
    color: #343a40;
    border: 1px solid #ccc;
}

.custom-button {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0a500;
    border: 2px solid #f0a51d;
    border-radius: 5px;
    color: #f0a51d;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #f0a51d;
    color: #fff;
    transform: scale(1.1);
}

.form-text button {
    color: #fff;
}

.form-container {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh; /* set container height to viewport height */
}

