.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.navbar-nav .nav-link {
    font-size: 20px;
}

.dropdown-more {
    margin-right: 10px;
}
