.post {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    color: #333;
}

.post.dark-mode {
    background-color: transparent;
    color: #fff;
}

.post-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.post-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-content {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

.post-divider {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #555, transparent);
    margin: 2em 0;
}

.post-section {
    margin-bottom: 2em;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.post-subheading {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0.5em;
    user-select: none;
}

.dark-mode .post-subheading {
    color: #ccc; /* Color for dark mode */
}

/* Arrow styles */
.arrow {
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

/* Rotate arrow when section is expanded */
.arrow.down {
    transform: rotate(90deg);
}