.daily-programmer-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.widgets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.widget {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
}

.widget-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.widget-header button {
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-header button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.widget-header button.add-widget {
    background-color: #20c997;
    color: #fff;
}

.widget-header button.remove-widget {
    background-color: #dc3545;
    color: #fff;
}

.widget-content {
    flex: 1;
    padding: 10px;
}

.add-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-widget:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.add-widget span {
    font-size: 96px;
    font-weight: bold;
    color: #20c997;
}

.remove-widget span {
    font-size: 96px;
    font-weight: bold;
    color: #dc3545;
}

.options-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.option {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.option:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.option:active {
    background-color: #20c997;
    color: #fff;
}

.options-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.options-header button {
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-header button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.options-header button:active {
    background-color: #dc3545;
    color: #fff;
}
